@model test1.Models.Pet

<h2>刪除寵物</h2>

<div>
    <h3>*請確認要刪除的寵物資料*</h3>
    <dl class="row">
        <dt class="col-sm-2">寵物名稱</dt>
        <dd class="col-sm-10">@Model.PetName</dd>

        <dt class="col-sm-2">寵物生日</dt>
        <dd class="col-sm-10">@Model.BirthDate.ToString("yyyy/MM/dd")</dd>

        <dt class="col-sm-2">寵物性別</dt>
        <dd class="col-sm-10">@Model.Gender</dd>

        <dt class="col-sm-2">是否結紮</dt>
        <dd class="col-sm-10">@Model.Neutering</dd>

        <dt class="col-sm-2">晶片號碼</dt>
        <dd class="col-sm-10">@Model.MicrochipID</dd>

        <dt class="col-sm-2">狀態</dt>
        <dd class="col-sm-10">@Model.State</dd>
    </dl>

    <!-- 刪除表單 -->
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="PetID" />
        <input type="hidden" asp-for="OwnerID" />
        <button type="submit" class="btn btn-danger">刪除</button>
        <a asp-controller="Pet" asp-action="Index" asp-route-ownerId="@Model.OwnerID" class="btn btn-secondary">取消</a>
    </form>
</div>
