<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PET SHOP - Pet Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid border-bottom d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-4 text-center py-2">             
            </div>
            <div class="col-lg-4 text-center border-start border-end py-2">             
            </div>
            <div class="col-lg-4 text-center py-2">
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->

    <!-- Navbar End -->
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-uppercase text-dark mb-lg-4">寵物醫師班表</h1>
                    <h1 class="text-uppercase text-white mb-lg-4">Make Pets Healthy</h1>
                    <p class="fs-4 text-white mb-lg-4">班表查詢/調整/建檔</p>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Video Modal Start -->
    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                                allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Start -->
    <div class="container-fluid">
        <div class="container">           
            <!--時間選擇器-->

            <!--時間選擇器-->
            <div class="row">
                <div class="col-md-4">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-grooming display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">班表檢視</h5>
                            <a class="text-primary text-uppercase" href="@Url.Action("Index", "Doctor")">開啟</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-cat display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">班表調整</h5>
                            <a class="text-primary text-uppercase" href="@Url.Action("Index", "Doctor")">開啟</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-cat display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">醫師建檔</h5>
                            <a class="text-primary text-uppercase" href="@Url.Action("Index", "Doctor")">開啟</a>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">醫師姓名</th>
                            <th scope="col">專科</th>
                            <th scope="col">預約時間</th>
                            <th scope="col">備註</th>
                            <th scope="col">創建時間</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <style>
                            tr {
                                border-width: 1px;
                                border-style: solid;
                                border-color: rgb(156, 186, 95);
                                font-family: Verdana;
                            }</style>
                        @foreach (var doctor in Model)
                        {
                            <tr>
                                <td>@doctor.Id</td>
                                <td>@doctor.Doctor_name</td>
                                <td>@doctor.Pet_type</td>
                                <td>@doctor.Reserve_time</td>
                                <td>@doctor.others</td>
                                <td>@doctor.initTime</td>                                
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>    
</body>

</html>