<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PET SHOP - Pet Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid border-bottom d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-4 text-center py-2">             
            </div>
            <div class="col-lg-4 text-center border-start border-end py-2">             
            </div>
            <div class="col-lg-4 text-center py-2">
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->

    <!-- Navbar End -->
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-uppercase text-dark mb-lg-4">寵物醫院預約系統</h1>
                    <h1 class="text-uppercase text-white mb-lg-4">Make Pets Healthy</h1>
                    <p class="fs-4 text-white mb-lg-4">線上顧客預約(LineBot)/線下顧客預約/醫師班表調整</p>                    
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Video Modal Start -->
    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                                allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->
    <!-- About Start -->
    
    <!-- About End -->
    <!-- Services Start -->
    <div class="text-end">
        <a href="@Url.Action("Index", "EmployeeLogIn")" class="btn btn-danger btn-sm" style="position: absolute; ">登出</a>
        <!-- 註冊按鈕 -->
        <div class="mt-3">
            <a href="/Employee/Create" class="btn btn-link text-red ps-0">帳號註冊</a>
        </div>
    </div>

    <div class="container-fluid py-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Functional category</h6>
                <h1 class="display-5 text-uppercase mb-0">系統選項</h1>
            </div>
            <div class="row g-5">
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-house display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">預約資訊總攬</h5>
                            <p>線上預約(LineBot)&線下預約資訊</p>
                            <a class="text-primary text-uppercase" href="@Url.Action("Index", "Reserve")"</a>進入<i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-food display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">醫師檔案</h5>
                            <p>檔案查詢/建檔</p>
                            <a class="text-primary text-uppercase" href="@Url.Action("Index", "DoctorData")">進入<i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-grooming display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">醫師班表</h5>
                            <p>醫師班表排定&查詢</p>
                            <a class="text-primary text-uppercase" href="@Url.Action("Index", "Schedule")">進入<i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-cat display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">線下預約</h5>
                            <p>非網路預約&現場預約填寫</p>
                            <a class="text-primary text-uppercase" href="@Url.Action("Create", "Appointment")">進入<i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>

</html>